@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-family: 'Lato';
    color: #666d89;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

hr {
    width: 100%;
    height: 0.5rem;

    border: 0;
}

.container {
    width: 102rem;
    margin: 0 auto;
    padding: 0 4rem;
}

header {
    background-color: #2d303a;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 35px;
}

.logo-name {
    display: inline-block;

    font-size: 25px;
    line-height: 6.32px;
    font-weight: 500;
    color: #ffffff;

    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
}

.logo-name:hover {
    text-decoration: underline;
}

.logo-star {
    color: #f06c64;
}

.nav-item {
    display: inline-block;
    margin-top: 5px;
    margin-left: 11px;

    font-size: 12px;
    line-height: 6.32px;
    font-weight: 600;
    color: #ffffff;

    text-transform: uppercase;

    cursor: pointer;
}

.nav-item:not(:first-child)::before {
    content: "·";

    margin-right: 12px;

    color: #3d4151;
}

.nav-item:hover {
    color: #f06c64;
}

.header-line {
    background-color: #323746;
}

.slider {
    position: relative;

    display: block;
    width: 100%;
    height: 595px;

    background-color: #f06c64;
}

.slider-arrow-prev {
    position: absolute;

    margin: 281px 0px 0px 1px;

    cursor: pointer;
}

.slider-arrow-prev:hover {
    margin: 281px 0px 0px -2px;
}

.iphone-vert {
    position: absolute;

    margin: 53px 0px 0px 72px;
}

.iphone-horiz {
    position: absolute;

    margin: 174px 0px 0px 385px;
}

.slider-arrow-next {
    position: absolute;

    margin: 281px 0px 0px 924px;

    cursor: pointer;
}

.slider-arrow-next:hover {
    margin: 281px 0px 0px 926px;
}

.slider-line {
    background-color: #ea676b;
}

.services {
    padding-top: 69px;
    padding-bottom: 28px;

    background-color: #f2f2f2;
}

.services-name {
    margin-bottom: 27px;

    font-size: 30px;
    line-height: 17.86px;
    font-weight: 800;
}

.services-description {
    margin-bottom: 45px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
}

svg {
    width: 32px;
    height: 32px;
}

.feat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 124px;
    margin-right: 20px;
}

.feat-img {
    display: inline-block;
    margin-right: 20px;
}

.svg-img {
    margin: 1px 0 0 1px;
    padding: 12px;

    border: 2px solid #666d89;
    border-radius: 100%;
}

.feat-name {
    margin-bottom: 11px;

    font-size: 18px;
    line-height: 17.86px;
    font-weight: 600;
}

.feat-text {
    font-size: 12px;
    line-height: 21.86px;
    font-weight: 300;
}

.feat:nth-child(1) .svg-img {
    padding: 12px 11px 10px 12px;
}

.feat:nth-child(2) .svg-img {
    padding: 12px 6px 9px 15px;
}

.feat:nth-child(2) .feat-img {
    margin-right: 22px;
}

.feat:nth-child(3) .svg-img {
    padding: 15px 12px 7px 11px;
}

.feat:nth-child(3) .feat-img {
    margin-right: 21px;
}

.feat:nth-child(4) .svg-img {
    padding: 12px 6px 9px 17px;
}

.feat:nth-child(5) .svg-img {
    padding: 14px 11px 6px 11px;
}

.feat:nth-child(6) .svg-img {
    padding: 12px 12px 9px 11px;
}

.feat:nth-child(6) .feat-img {
    margin-right: 21px;
}

.services-line {
    background-color: #ffffff;
}