@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.eot');
    src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lato-Regular.woff2') format('woff2'),
        url('Lato-Regular.woff') format('woff'),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-family: 'Lato';
    color: #666d89;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

hr {
    width: 100%;
    height: 0.5rem;

    border: 0;
}

.container {
    width: 102rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.portfolio {
    padding: 6rem 0 6.7rem 0;

    background-color: #2d303a;

    -webkit-box-shadow: 0px 5px 0px 0px rgba(50, 55, 70, 1);
    box-shadow: 0px 5px 0px 0px rgba(50, 55, 70, 1);
}

.portfolio-name {
    margin-bottom: 2.3rem;

    font-size: 3rem;
    font-weight: 800;
}

.portfolio-description {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    font-weight: 100;
}

.nav-list {
    display: inline-block;
    margin-bottom: 1.8rem;
}

.nav-item {
    display: inline-block;

    margin-right: 1rem;
    padding: 0 0.6rem;

    font-size: 1.2rem;
    line-height: 2rem;

    border: 0.1rem solid #666d89;
    border-radius: 0.4rem;

    cursor: pointer;
}

.nav-item:hover {
    color: #ffffff;

    border: 0.1rem solid #ffffff;
}

.porfolio-list {
    display: inline-block;
    height: 62rem;
    margin: -1rem;

    font-size: 0;

    overflow: hidden;
}

.portfolio-item {
    display: inline-block;
    width: 22rem;
    height: 18.7rem;
    margin: 1rem;

    overflow: hidden;
}

.portfolio-img {
    cursor: pointer;

    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.portfolio-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


.portfolio-line {
    background-color: #323746;
}

.about-us {
    height: 72.8rem;
    padding-top: 6.5rem;
    padding-bottom: 6.7rem;

    background-color: #f2f2f2;

    -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 1);
}

.about-us-name {
    margin-bottom: 2.4rem;

    font-size: 3rem;
    line-height: 2.4rem;
    font-weight: 800;

    white-space: nowrap;
}

.about-us-description {
    margin-bottom: 4.5rem;

    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    word-spacing: 0.1rem;
}

.card-list {
    display: inline-block;

    font-size: 0;
}

.card-item {
    display: inline-block;
    width: 30rem;
}

.card-item:not(:first-child) {
    margin-left: 2rem;
}

.card-img-container {
    width: 30rem;
    height: 30rem;
}

.card-name {
    margin-top: 1.7rem;

    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
}

.card-description {
    margin-top: 1.1rem;

    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
}

.card-link-list {
    display: inline-block;
    margin-top: 2.4rem;
}

.card-link-item {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    padding: 1.6rem;

    border: 0.1rem solid #666d89;
    border-radius: 100%;

    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.card-link-item:not(:first-child) {
    margin-left: 0.6rem;
}

.card-link-item:nth-child(1) {
    background-image: url('./assets/imgs/facebook.png');
}

.card-link-item:nth-child(2) {
    background-image: url('./assets/imgs/google+.png');
}

.card-link-item:nth-child(3) {
    background-image: url('./assets/imgs/twitter.png');
}

.card-link-item:nth-child(4) {
    background-image: url('./assets/imgs/linkedin.png');
}

.card-link-item:hover {
    background-color: #2d303a;
}

.about-us-line {
    background-color: #ffffff;
}