/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.eot');
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('assets/fonts/Lato-Regular.woff') format('woff'),
        url('assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 10px;
    font-family: 'Lato';
    color: #666d89;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

hr {
    width: 100%;
    height: 0.5rem;

    border: 0;
}

.container {
    width: 102rem;
    margin: 0 auto;
    padding: 0 4rem;
}

header {
    background-color: #2d303a;
    position: fixed;
    z-index: 55;
    width: 100%;
    height: 95px;
}

.burger-menu {
    display: none;
}

.burger-button {
    display: none;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 95px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-name {
    display: inline-block;

    font-size: 2.5rem;
    line-height: 0.632rem;
    font-weight: 500;
    color: #ffffff;

    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    z-index: 99999;
}

.logo-name:hover {
    text-decoration: underline;
}

.logo-star {
    color: #f06c64;
}

.nav-item {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 1.1rem;

    font-size: 1.2rem;
    line-height: 0.632rem;
    font-weight: 600;

    text-transform: uppercase;

    cursor: pointer;
}

.nav-item:not(:first-child)::before {
    content: "·";

    margin-right: 1.2rem;

    color: #3d4151;
}

.nav-item-link {
    color: #ffffff;
}

.nav-item-link:hover {
    color: #f06c64;
}

.nav-item-active {
    color: #f06c64;
}

.header-line {
    background-color: #323746;
}

.slider {
    position: relative;

    display: block;
    width: 100%;
    height: 690px;
    padding-top: 96px;

    background-color: #f06c64;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slide-item {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: margin 1s ease;
    -o-transition: margin 1s ease;
    transition: margin 1s ease;
}

.relative-slider-item {
    width: auto;
    position: relative;
}

.slide-img {
    position: relative;
    margin-top: 36px;
    max-width: 100%;
}

.slider-arrow-prev,
.slider-arrow-next {
    position: absolute;
    top: 376px;

    cursor: pointer;
    z-index: 2;
}


.slider-arrow-prev {
    margin-left: 2px;
}

.slider-arrow-prev:hover {
    margin-left: 0;
}

.slider-arrow-next {
    margin-left: 923px;
}

.slider-arrow-next:hover {
    margin-left: 925px;
}

.blackBlock {
    position: absolute;
    background-color: #000000;
    opacity: 0;
    margin-left: 0;
    border-radius: 1px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#blackBlockV {
    width: 188px;
    height: 333px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 101px;
    left: 14px;
}

#blackBlockH {
    width: 333px;
    height: 188px;
    left: 373px;
    top: 173px;
}

#blackBlockС {
    width: 200px;
    height: 354px;
    top: 105px;
    left: 146px;
}

.clickBlock {
    position: absolute;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-left: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#clickBlockV {
    top: 443px;
    left: 87px;
}

#clickBlockH {
    top: 245px;
    left: 321px;
}

#clickBlockС {
    top: 470px;
    left: 224px;
}

.slider-line {
    background-color: #ea676b;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.services {
    padding-top: 6.9rem;
    padding-bottom: 2.8rem;

    background-color: #f2f2f2;
    scroll-margin-block-start: 90px;
}

.services-name {
    margin-bottom: 2.7rem;

    font-size: 3rem;
    line-height: 1.786rem;
    font-weight: 800;
}

.services-description {
    margin-bottom: 4.5rem;

    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;

    text-align: justify;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

svg {
    width: 3.2rem;
    height: 3.2rem;
}

.feat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30rem;
    height: 12.4rem;
}

.feat-img {
    display: inline-block;
    margin-right: 2rem;
}

.svg-img {
    margin: 0.1rem 0 0 0.1rem;
    padding: 1.2rem;

    border: 0.2rem solid #666d89;
    border-radius: 100%;
}

.feat-name {
    margin-bottom: 1.1rem;

    font-size: 1.8rem;
    line-height: 1.786rem;
    font-weight: 600;
}

.feat-text {
    font-size: 1.2rem;
    line-height: 2.186rem;
    font-weight: 300;
    height: 63px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    text-align: justify;
}

.feat:nth-child(1) .svg-img {
    padding: 1.2rem 1.1rem 1rem 1.2rem;
}

.feat:nth-child(2) .svg-img {
    padding: 1.2rem 0.6rem 0.9rem 1.5rem;
}

.feat:nth-child(2) .feat-img {
    margin-right: 2.2rem;
}

.feat:nth-child(3) .svg-img {
    padding: 1.5rem 1.2rem 0.7rem 1.1rem;
}

.feat:nth-child(3) .feat-img {
    margin-right: 2.1rem;
}

.feat:nth-child(4) .svg-img {
    padding: 1.2rem 0.6rem 0.9rem 1.7rem;
}

.feat:nth-child(5) .svg-img {
    padding: 1.4rem 1.1rem 0.6rem 1.1rem;
}

.feat:nth-child(6) .svg-img {
    padding: 1.2rem 1.2rem 0.9rem 1.1rem;
}

.feat:nth-child(6) .feat-img {
    margin-right: 2.1rem;
}

.services-line {
    background-color: #ffffff;
}

.portfolio {
    padding: 6rem 0 6.7rem 0;

    background-color: #2d303a;

    -webkit-box-shadow: 0 0.5rem 0 0 rgba(50, 55, 70, 1);
    box-shadow: 0 0.5rem 0 0 rgba(50, 55, 70, 1);

    scroll-margin-block-start: 90px;
}

.portfolio-name {
    margin-bottom: 2.3rem;

    font-size: 3rem;
    font-weight: 800;
}

.portfolio-description {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    font-weight: 100;
}

.portfolio-nav-list {
    display: inline-block;
    margin-bottom: 1.8rem;
}

.portfolio-nav-item {
    display: inline-block;

    margin-right: 0.8rem;
    padding: 0 0.7rem 0 0.7rem;

    font-size: 1.2rem;
    line-height: 2rem;
    color: #666d89;

    border: 0.1rem solid #666d89;
    border-radius: 0.4rem;

    cursor: pointer;
}

.portfolio-nav-item:nth-child(2) {
    margin-right: 0.9rem;
    padding: 0 0.5rem 0 0.7rem;
}

.portfolio-nav-item:nth-child(3) {
    padding: 0 0.5rem 0 0.6rem;
}

.portfolio-nav-item:nth-child(4) {
    margin-right: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
}

.portfolio-nav-item:hover {
    color: #f2f2f2;

    border: 0.1rem solid #f2f2f2;
}

.portfolio-nav-item-active {
    color: #f2f2f2;

    border: 0.1rem solid #f2f2f2;
}

.porfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 62rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    font-size: 0;

    overflow: hidden;
}

.portfolio-item {
    display: inline-block;
    width: 22rem;
    height: 18.7rem;

    overflow: hidden;
}

.portfolio-img {
    cursor: pointer;

    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.portfolio-item-active {
    outline: solid 5px #F06C64;
    outline-offset: -5px;
}

.portfolio-line {
    background-color: #323746;
}

.about-us {
    height: 72.9rem;
    padding-top: 6.5rem;
    padding-bottom: 6.7rem;

    background-color: #f2f2f2;

    -webkit-box-shadow: 0 0.5rem 0 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0.5rem 0 0 rgba(255, 255, 255, 1);

    scroll-margin-block-start: 90px;
}

.about-us-name {
    margin-bottom: 2.4rem;

    font-size: 3rem;
    line-height: 2.4rem;
    font-weight: 800;

    white-space: nowrap;
}

.about-us-description {
    margin-bottom: 4.5rem;

    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    word-spacing: 0.1rem;

    text-align: justify;
}

.card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

    font-size: 0;
}

.card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30rem;
}

.card-item:not(:first-child) {
    margin-left: 2rem;
}

.card-img-container {
    width: 30rem;
    height: 30rem;
}

.card-name {
    margin-top: 1.7rem;

    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.card-description {
    margin-top: 1.1rem;

    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;

    text-align: justify;
}

.card-link-list {
    display: inline-block;
    margin-top: 2.4rem;
}

.card-link-item {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    padding: 1.6rem;

    border: 0.1rem solid #666d89;
    border-radius: 100%;

    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.card-link-item:not(:first-child) {
    margin-left: 0.6rem;
}

.card-link-item:nth-child(1) {
    background-image: url('./assets/imgs/facebook.png');
}

.card-link-item:nth-child(2) {
    background-image: url('./assets/imgs/google+.png');
}

.card-link-item:nth-child(3) {
    background-image: url('./assets/imgs/twitter.png');
}

.card-link-item:nth-child(4) {
    background-image: url('./assets/imgs/linkedin.png');
}

.card-link-item:hover {
    background-color: #2d303a;
}

.about-us-line {
    background-color: #ffffff;
}

input,
textarea {
    display: block;
    width: 62rem;
    height: 3.8rem;
    margin: 1.6rem 0;
    padding-left: 1.5rem;

    font-size: 1.2rem;
    line-height: 2.156rem;
    font-weight: 500;
    color: #f48c8f;


    background-color: #d6564f;
    border: 0.1rem solid #d6564f;
    border-radius: 0.4rem;
    outline: none;
}

input:hover,
textarea:hover {
    border: 0.1rem solid #f48c8f;
}

input[type=submit]:hover {
    color: #ffffff;

    cursor: pointer;
}

textarea {
    height: 20.2rem;
    padding-top: 0.8rem;
}

::-webkit-input-placeholder {
    color: #f48c8f;
    opacity: 1;
}

::-moz-placeholder {
    color: #f48c8f;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #f48c8f;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #f48c8f;
    opacity: 1;
}

::placeholder {
    color: #f48c8f;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #f48c8f;
}

::-ms-input-placeholder {
    color: #f48c8f;
}

input:last-child {
    margin-bottom: 0;
}

a {
    color: #f0d8d9;

    text-decoration: none;
}

.container {
    width: 102rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.quote {
    padding-top: 7rem;
    padding-bottom: 1.4rem;

    color: #f0d8d9;

    background-color: #f06c64;

    scroll-margin-block-start: 90px;
}

.quote-name {
    font-size: 3rem;
    line-height: 1.786rem;
    font-weight: 600;
}

.quote-description {
    margin-top: 2.5rem;
    margin-bottom: 2.9rem;

    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;

    text-align: justify;
}

.form-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.form-div {
    width: 62rem;
}

.information {
    padding-top: 1.7rem;
    padding-left: 2rem;
}

.information-name {
    margin-bottom: 1rem;

    font-size: 1.8rem;
    line-height: 1.786rem;
    font-weight: 700;
}

.information-description,
.information-list {
    margin-bottom: 2.4rem;

    font-size: 1.2rem;
    line-height: 2.156rem;
    font-weight: 300;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    text-align: justify;
}

.information-item:nth-child(1) {
    list-style-image: url(./assets/imgs/location.png);
}

.information-item:nth-child(2) {
    list-style-image: url(./assets/imgs/phone.png);
}

.information-item:nth-child(3) {
    margin-left: 20px;
    margin-top: 1px;

    list-style-image: url(./assets/imgs/mail.png);
}

.information-item {
    margin-left: 1.8rem;
    padding-left: 0.5rem;
}

.quote-line {
    background-color: #ea676b;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 7.6rem;
    padding: 2.1rem 0 0 0.3rem;

    background-color: #2d303a;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    font-size: 1.2rem;
    line-height: 2.156rem;
    font-weight: 300;
}

.copyright p {
    margin-top: 0.6rem;
}

.copyright p:hover {
    color: #f2f2f2;

    cursor: pointer;
}

.footer-link-list {
    display: inline-block;
}

.footer-link-item {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    padding: 1.6rem;

    border: 0.1rem solid #666d89;
    border-radius: 100%;

    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
}

.footer-link-item:not(:first-child) {
    margin-left: 0.4rem;
}

.footer-link-item:nth-child(1) {
    background-image: url('./assets/imgs/facebook.png');
}

.footer-link-item:nth-child(2) {
    background-image: url('./assets/imgs/google+.png');
}

.footer-link-item:nth-child(3) {
    background-image: url('./assets/imgs/twitter.png');
}

.footer-link-item:nth-child(4) {
    background-image: url('./assets/imgs/linkedin.png');
}

.footer-link-item:hover {
    background-color: #ffffff;
}

#blocker {
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
}

#messageBlock {
    position: absolute;
    opacity: 1;
    padding: 30px 50px;
    background-color: #f2f2f2;
    left: 50%;
    -webkit-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
    border-radius: 5px;
}

#headerText {
    margin-bottom: 20px;
}

#topicText {
    margin-bottom: 10px;
}

#describeText {
    margin-bottom: 10px;
}

#buttonWindow {
    padding: 5px 20px;
}


@media screen and (max-width: 1019px) {

    .container {
        width: 100%;
    }

    .slider {
        height: 551px;
        padding-top: 100px;
    }

    .slide-img {
        width: auto;
        height: 363px;
        margin-top: 40px;
    }


    .slider-arrow-next {
        top: 303px;
        right: 26px;
    }

    .slider-arrow-prev {
        top: 303px;
    }

    .slider-arrow-next:hover {
        right: 28px;
    }

    .clickBlock {
        width: 35px;
        height: 35px;

    }

    #clickBlockV {
        top: 341px;
        left: 63px;
    }

    #clickBlockH {
        top: 193px;
        left: 240px;
    }

    #clickBlockС {

        top: 341px;
        left: 157px;
    }

    #blackBlockV {
        width: 142px;
        height: 251px;
        top: 84px;
        left: 10px;
    }

    #blackBlockH {
        width: 252px;
        height: 142px;

        left: 280px;
        top: 139px;
    }

    #blackBlockС {
        width: 142px;
        height: 251px;
        top: 85px;
        left: 103px;
    }


    .feat:nth-child(2n+1) {
        margin-right: 20px;
    }

    .porfolio-list {
        height: 81rem;
    }

    .portfolio-item {
        width: 216px;
        height: 183px;
        margin-bottom: 20px;
    }

    .portfolio-item:not(:nth-child(3n)) {
        margin-right: 26px;

    }

    .card-img-container {
        width: 100%;
        height: auto;
    }

    .card-img {
        display: block;
        max-width: 100%;
    }

    .form-div {
        width: 70%;
    }

    input,
    textarea {
        width: 100%;
    }

    .information {
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .feat:nth-child(2n+1) {
        margin-right: 0;
    }

    .portfolio-item:not(:nth-child(3n)) {
        margin-right: 0;

    }
}

@media screen and (max-width: 767px) {
    .services,
    .portfolio,
    .about-us {
        scroll-margin-block-start: 60px;
    }

    .container {
        height: 100%;
    }

    header {
        height: 71px;
    }

    .logo {
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .nav-list {
        display: none;
    }

    .slider {
        height: 296px;
        padding-top: 76px;
    }

    .slide-img {
        width: auto;
        height: 177px;
        margin-top: 20px;
    }

    #blackBlockV {
        width: 69px;
        height: 123px;
        top: 44px;
        left: 5px;
    }

    #blackBlockH {
        width: 122px;
        height: 71px;
        left: 136px;
        top: 70px;
    }

    #blackBlockС {
        width: 70px;
        height: 122px;
        top: 44px;
        left: 50px;
    }

    .clickBlock {
        width: 20px;
        height: 20px;
    }

    #clickBlockV {
        top: 167px;
        left: 29px;
    }

    #clickBlockH {
        top: 95px;
        left: 115px;
    }

    #clickBlockС {
        top: 167px;
        left: 75px;
    }

    .slider-arrow-prev, .slider-arrow-next {

        top: 187px;

    }

    .burger-button {
        position: absolute;
    left: 20px;
    top: 26px;
        display: block;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        cursor: pointer;
        z-index: 102;
    }



    .burger-menu {
        position: absolute;

        -webkit-transition: all 1s ease;

        -o-transition: all 1s ease;

        transition: all 1s ease;
        z-index: 101;
        background-color: #2D303A;
        width: 278px;
        top: 0px;
        left: 0px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }

    .burger-item-link {
        text-transform: uppercase;
        font-size: 24px;
        color: #ffffff;
        
    }

    .burger-item-active {
        color: #F06C64;
    }

    .burger-item {
        margin-bottom: 27px;
    }

    .features {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .feat:nth-child(2n+1) {
        margin-right: 31px;
    }

    .feat {
        margin: 0 31px;
    }

    .porfolio-list {
        height: 122rem;
    }

    .portfolio-item:nth-child(2n+1) {
        margin-right: 31px;
    }


    .card-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .card-item {
        margin: 0 24px 34px;
    }

    .about-us {
        height: auto;
    }

    .form-information {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .form-div {
        width: 100%;
    }

    .information {
        width: 100%;
        padding: 32px 0 0;
    }

    .copyright {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .copyright p {

        display: none;
    }
}

@media screen and (max-width: 544px) {
    .container {
        padding: 0 3rem;
    }

    .feat {
        margin: 0 31px;
    }

    .portfolio-item {
        margin: 0;
    }

    .portfolio-item:nth-child(2n + 1) {
        margin-right: 0;
    }

    .card-item:not(:first-child) {
        margin-left: auto;
    }

    .card-item {
        margin: 0 auto 34px;
    }

    
}

@media screen and (max-width: 514px) {
    .portfolio-item {
        width: 200px;
        height: 170px;

    }
}

@media screen and (max-width: 485px) {
    .portfolio-item {
        width: 180px;
        height: 170px;

    }
}


@media screen and (max-width: 449px) {
    .portfolio-item {
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 409px) {
    .portfolio-item {
        width: 160px;
        height: 160px;
    }

    .slide-img {
        width: auto;
        height: 120px;
        margin-top: 20px;
    }


    #blackBlockV {
        width: 48px;
        height: 84px;
        top: 36px;
        left: 3px;
    }

    #blackBlockH {
        width: 84px;
        height: 49px;
        left: 92px;
        top: 53px;
    }

    #blackBlockС {
        width: 48px;
        height: 83px;
        top: 36px;
        left: 34px;
    }

    #clickBlockV {
        top: 118px;
        left: 17px;
    }


    #clickBlockH {
        top: 68px;
        left: 75px;
    }

    #clickBlockС {
        top: 117px;
        left: 48px;
    }
}

@media screen and (max-width: 387px) {

    .porfolio-list {
        height: 101rem;
    }

    .portfolio-item {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 370px) {
    .portfolio-item {
        width: 140px;
        height: 140px;
    }

    .portfolio-nav-item {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 350px) {
    .portfolio-item {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 330px) {
    .porfolio-list {
        height: 89rem;
    }

    .portfolio-item {
        width: 123px;
        height: 123px;
    }
}